.voterPage > h3 {
  text-align: center;
  width: 98%;
  padding: 12px;
  background-color: aquamarine;
}
.candidate_option {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0 0 10px rgb(174, 163, 163);
  box-shadow: 0 0 10px rgb(166, 162, 162);
  padding: 24px;
  margin-top: 2%;
}
.candidate_option > span {
  border-radius: 50%;
  padding: 4px 12px;
  background-color: aqua;
  font-weight: 600;
}
.Voter_page_candidate_promise {
  overflow-y: scroll;
  height: 80px;
}
.candidate_option > input {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
